@font-face {
  font-family: "Norse Bold";
  src: url("./assets/fonts/Norse-Bold.otf") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.background-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-container img {
  height: 100%;
  width: 100%;
}

.logo-container {
  box-sizing: inherit;
  background-color: rgba(4, 12, 5, 0.6);
  background-size: contain;
  align-self: flex-start;
  top: 200px;
  position: absolute;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.logo-container img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  opacity: 1;
  padding: 5px;
}

.logo-container p {
  color: white;
  order: 1;
  padding-left: 0px;
  font-size: 67px;
  text-transform: uppercase;
  font-family: "Norse Bold";
  align-self: center;
}

.logo-container div {
  display: flex;
  justify-content: center;
  height: 100px;
}

.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5fcf8;
}

.first-blok {
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 0.8px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.main-block {
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.46);
}

.main-block h3 {
  padding-left: 20px;
}

.second-block {
  display: flex;
}

.second-block form {
  display: flex;
}
.second-block div {
  flex: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}

.third-block {
  margin-top: 20px;
  padding-left: 20px;
}

.third-block button {
  border: none;
  padding: 10px 20px;
  background-color: #688c5e;
  color: white;
  border-radius: 5px;
  text-shadow: 0px 1px 0px #2f6627;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

.third-block button:hover {
  background-color: #264022;
}

.third-block button:active {
  position: relative;
  top: 1px;
}
